In [27]:
import pandas as pd
import spacy
nlp = spacy.load('en')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import string
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [81]:
df = pd.read_csv("./data/Combined_News_DJIA.csv")

In [82]:
df.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top19,Top20,Top21,Top22,Top23,Top24,Top25,Adjusted Label,Nasdaq,S&P500
0,8/8/2008,0,Georgia 'downs two Russian warplanes' as count...,BREAKING: Musharraf to be impeached.',Russia Today: Columns of troops roll into Sout...,Russian tanks are moving towards the capital o...,"Afghan children raped with 'impunity,' U.N. of...",150 Russian tanks have entered South Ossetia w...,"Breaking: Georgia invades South Ossetia, Russi...",The 'enemy combatent' trials are nothing but a...,...,This is a busy day: The European Union has ap...,"Georgia will withdraw 1,000 soldiers from Iraq...",Why the Pentagon Thinks Attacking Iran is a Ba...,Caucasus in crisis: Georgia invades South Osse...,Indian shoe manufactory - And again in a seri...,Visitors Suffering from Mental Illnesses Banne...,"No Help for Mexico's Kidnapping Surge""",1,1,1

In [83]:
df["combined"] = df["Top1"].astype(str)+' '+df['Top2']+' '+df['Top3']+' '+df['Top4']+' '+df['Top5']+' '+df['Top6']+' '+df['Top7']+' '+df['Top8']+' '+df['Top9']+' '+df['Top10']+' '+df['Top11']+' '+df['Top12']+' '+df['Top13']+' '+df['Top14']+' '+df['Top15']+' '+df['Top16']+' '+df['Top17']+' '+df['Top18']+' '+df['Top19']+' '+df['Top20']+' '+df['Top21']+' '+df['Top22']+' '+df['Top23']+' '+df['Top24']+' '+df['Top25']

In [84]:
df.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top20,Top21,Top22,Top23,Top24,Top25,Adjusted Label,Nasdaq,S&P500,combined
0,8/8/2008,0,Georgia 'downs two Russian warplanes' as count...,BREAKING: Musharraf to be impeached.',Russia Today: Columns of troops roll into Sout...,Russian tanks are moving towards the capital o...,"Afghan children raped with 'impunity,' U.N. of...",150 Russian tanks have entered South Ossetia w...,"Breaking: Georgia invades South Ossetia, Russi...",The 'enemy combatent' trials are nothing but a...,...,"Georgia will withdraw 1,000 soldiers from Iraq...",Why the Pentagon Thinks Attacking Iran is a Ba...,Caucasus in crisis: Georgia invades South Osse...,Indian shoe manufactory - And again in a seri...,Visitors Suffering from Mental Illnesses Banne...,"No Help for Mexico's Kidnapping Surge""",1,1,1,Georgia 'downs two Russian warplanes' as count...

In [85]:
df.drop([ 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15',
       'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25'],inplace=True,axis=1)

In [86]:
df.head(1)

,Date,Label,Adjusted Label,Nasdaq,S&P500,combined
0,8/8/2008,0,1,1,1,Georgia 'downs two Russian warplanes' as count...

In [87]:
def subjFunc(data, indexValue):
    doc = nlp(data)

    nounList = []
    verbList = []
    for token in doc:
        if token.pos_ == "PROPN":
            nounList.append(token.text)
        if token.pos_ == "VERB":
            verbList.append(token.text)

    
    nounString = nounList = ', '.join(nounList)
    verbString = verbList = ', '.join(verbList)
    
    df.set_value(indexValue,"noun",nounString) 
    df.set_value(indexValue,"verb",verbString)

In [88]:
df['combined'] = df['combined'].astype(str)

In [89]:
for row in range(0,len(df.index)):
    subjFunc(df["combined"][row],row)

C:\Users\AK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
C:\Users\AK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [90]:
df.tail(1)

,Date,Label,Adjusted Label,Nasdaq,S&P500,combined,noun,verb
1988,7/1/2016,1,1,1,1,A 117-year-old woman in Mexico City finally re...,"Mexico, City, Trinidad, Alvarez, Lira, IMF, At...","received, died, had, waited, had, been, born, ..."

In [91]:
df.drop("Label",inplace=True, axis=1)

In [92]:
df.head(1)

,Date,Adjusted Label,Nasdaq,S&P500,combined,noun,verb
0,8/8/2008,1,1,1,Georgia 'downs two Russian warplanes' as count...,"Georgia, Russia, South, Ossetia, YouTube, Sout...","move, brink, be, impeached, roll, are, moving,..."

### Method 1 - Kaggle, 0 Lag, Noun, Dow

In [93]:
nounTraining = []
nounTest = []
for row in range(0,1391):  
    nounTraining.append((df["noun"][row].lower()))

for row in range(1392,1988):
    nounTest.append((df["noun"][row].lower()))

In [94]:
advancedvectorizerMeth1 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth1 = advancedvectorizerMeth1.fit_transform(nounTraining)

advancedmodelMeth1 = LogisticRegression()
advancedmodelMeth1 = advancedmodelMeth1.fit(advancedtrainMeth1, df["Adjusted Label"][0:1391])

advancedtestMeth1 = advancedvectorizerMeth1.transform(nounTest)
advpredictionsMeth1 = advancedmodelMeth1.predict(advancedtestMeth1)

print (metrics.accuracy_score(df["Adjusted Label"][1392:1988], advpredictionsMeth1))

0.5251677852348994

### Method 2 - Kaggle, 0 Lag, Noun, Nasdaq

In [95]:
advancedvectorizerMeth1 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth1 = advancedvectorizerMeth1.fit_transform(nounTraining)

advancedmodelMeth1 = LogisticRegression()
advancedmodelMeth1 = advancedmodelMeth1.fit(advancedtrainMeth1, df["Nasdaq"][0:1391])

advancedtestMeth1 = advancedvectorizerMeth1.transform(nounTest)
advpredictionsMeth1 = advancedmodelMeth1.predict(advancedtestMeth1)

print (metrics.accuracy_score(df["Nasdaq"][1392:1988], advpredictionsMeth1))

0.5369127516778524

### Method 2 - Kaggle, 0 Lag, Noun, S&P

In [97]:
advancedvectorizerMeth1 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth1 = advancedvectorizerMeth1.fit_transform(nounTraining)

advancedmodelMeth1 = LogisticRegression()
advancedmodelMeth1 = advancedmodelMeth1.fit(advancedtrainMeth1, df["S&P500"][0:1391])

advancedtestMeth1 = advancedvectorizerMeth1.transform(nounTest)
advpredictionsMeth1 = advancedmodelMeth1.predict(advancedtestMeth1)

print (metrics.accuracy_score(df["S&P500"][1392:1988], advpredictionsMeth1))

0.5335570469798657

### Method 4 - Kaggle, 0 Lag, Verb

In [56]:
verbTraining = []
verbTest = []
for row in range(0,1391):  
    verbTraining.append((df["verb"][row].lower()))

for row in range(1392,1988):
    verbTest.append((df["verb"][row].lower()))

In [58]:
advancedvectorizerMeth5 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth5= advancedvectorizerMeth5.fit_transform(verbTraining)

advancedmodelMeth5= LogisticRegression()
advancedmodelMeth5= advancedmodelMeth5.fit(advancedtrainMeth5, df["Adjusted Label"][0:1391])

advancedtestMeth5 = advancedvectorizerMeth5.transform(verbTest)
advpredictionsMeth5 = advancedmodelMeth5.predict(advancedtestMeth5)

print (metrics.accuracy_score(df["Adjusted Label"][1392:1988], advpredictionsMeth5))

0.540268456375839

### Method 5 - Kaggle, 0 Lag, Verb, Nasdaq

### Method 6 - Kaggle, 1 Lag, Verb

In [61]:
advancedvectorizerMeth6 = CountVectorizer(ngram_range=(4,4))
advancedtrainMeth6 = advancedvectorizerMeth6.fit_transform(verbTraining)

advancedmodelMeth6 = LogisticRegression()
advancedmodelMeth6 = advancedmodelMeth6.fit(advancedtrainMeth6, df["laggedByOne"][0:1391])

advancedtestMeth6 = advancedvectorizerMeth6.transform(verbTest)
advpredictionsMeth6 = advancedmodelMeth6.predict(advancedtestMeth6)

print (metrics.accuracy_score(df["laggedByOne"][1392:1988], advpredictionsMeth6))

0.535234899328859

### Method 7 - Kaggle, 2 Lag, Verb

In [65]:
advancedvectorizerMeth7 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth7 = advancedvectorizerMeth7.fit_transform(verbTraining)

advancedmodelMeth7 = LogisticRegression()
advancedmodelMeth7 = advancedmodelMeth7.fit(advancedtrainMeth7, df["laggedByTwo"][0:1391])

advancedtestMeth7 = advancedvectorizerMeth7.transform(verbTest)
advpredictionsMeth7 = advancedmodelMeth7.predict(advancedtestMeth7)

print (metrics.accuracy_score(df["laggedByTwo"][1392:1988], advpredictionsMeth7))

0.5419463087248322

### Method 8 - Kaggle, 0 Lag, Verb + Noun

In [66]:
df["nounAndVerb"] = df["noun"].map(str) + df["verb"]

In [67]:
nounAndVerbTraining = []
nounAndVerbTest = []
for row in range(0,1391):  
    nounAndVerbTraining.append((df["nounAndVerb"][row].lower()))

for row in range(1392,1988):
    nounAndVerbTest.append((df["nounAndVerb"][row].lower()))

In [69]:
advancedvectorizerMeth9 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth9 = advancedvectorizerMeth9.fit_transform(nounAndVerbTraining)

advancedmodelMeth9 = LogisticRegression()
advancedmodelMeth9 = advancedmodelMeth9.fit(advancedtrainMeth9, df["Adjusted Label"][0:1391])

advancedtestMeth9 = advancedvectorizerMeth9.transform(nounAndVerbTest)
advpredictionsMeth9 = advancedmodelMeth9.predict(advancedtestMeth9)

print (metrics.accuracy_score(df["Adjusted Label"][1392:1988], advpredictionsMeth9))

0.5369127516778524

### Method 10 - Kaggle, 1 Lag, Verb + Noun

In [73]:
advancedvectorizerMeth10 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth10 = advancedvectorizerMeth10.fit_transform(nounAndVerbTraining)

advancedmodelMeth10 = LogisticRegression()
advancedmodelMeth10 = advancedmodelMeth10.fit(advancedtrainMeth10, df["laggedByOne"][0:1391])

advancedtestMeth10 = advancedvectorizerMeth10.transform(nounAndVerbTest)
advpredictionsMeth10 = advancedmodelMeth10.predict(advancedtestMeth10)

print (metrics.accuracy_score(df["laggedByOne"][1392:1988], advpredictionsMeth10))

0.540268456375839

### Method 11 - Kaggle, 2 Lag, Verb + Noun

In [75]:
advancedvectorizerMeth11 = CountVectorizer(ngram_range=(3,3))
advancedtrainMeth11 = advancedvectorizerMeth11.fit_transform(nounAndVerbTraining)

advancedmodelMeth11 = LogisticRegression()
advancedmodelMeth11 = advancedmodelMeth11.fit(advancedtrainMeth11, df["laggedByTwo"][0:1391])

advancedtestMeth11 = advancedvectorizerMeth11.transform(nounAndVerbTest)
advpredictionsMeth11 = advancedmodelMeth11.predict(advancedtestMeth11)

print (metrics.accuracy_score(df["laggedByTwo"][1392:1988], advpredictionsMeth11))

0.5419463087248322

### Method 12 - Straight Kaggle

In [76]:
kaggleTraining = []
kaggleTest = []
for row in range(0,1391):  
    kaggleTraining.append((df["combined"][row].lower()))

for row in range(1392,1988):
    kaggleTest.append((df["combined"][row].lower()))

In [80]:
advancedvectorizer12 = CountVectorizer(ngram_range=(2,2))
advancedtrain12 = advancedvectorizer12.fit_transform(kaggleTraining)

advancedmodel12 = LogisticRegression()
advancedmodel12 = advancedmodel12.fit(advancedtrain12, df["Adjusted Label"][0:1391])

advancedtest12 = advancedvectorizer12.transform(kaggleTest)
advpredictions12 = advancedmodel12.predict(advancedtest12)

print (metrics.accuracy_score(df["Adjusted Label"][1392:1988], advpredictions12))

0.5654362416107382

In [99]:
advancedvectorizer12 = CountVectorizer(ngram_range=(3,3))
advancedtrain12 = advancedvectorizer12.fit_transform(kaggleTraining)

advancedmodel12 = LogisticRegression()
advancedmodel12 = advancedmodel12.fit(advancedtrain12, df["Nasdaq"][0:1391])

advancedtest12 = advancedvectorizer12.transform(kaggleTest)
advpredictions12 = advancedmodel12.predict(advancedtest12)

print (metrics.accuracy_score(df["Nasdaq"][1392:1988], advpredictions12))

0.5436241610738255

In [101]:
advancedvectorizer12 = CountVectorizer(ngram_range=(2,2))
advancedtrain12 = advancedvectorizer12.fit_transform(kaggleTraining)

advancedmodel12 = LogisticRegression()
advancedmodel12 = advancedmodel12.fit(advancedtrain12, df["S&P500"][0:1391])

advancedtest12 = advancedvectorizer12.transform(kaggleTest)
advpredictions12 = advancedmodel12.predict(advancedtest12)

print (metrics.accuracy_score(df["S&P500"][1392:1988], advpredictions12))

0.5369127516778524